html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Страница index.html */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --bgc-button-secondary: #f5f4fa;
  --bgc-hero-footer: #2f303a;
  --bgc-team: #f5f4fa;
}
/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/* logo стили */
.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
span.web-header {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
}

.logo-footer {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;

  color: var(--primary-white-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
span.web-footer {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
}
header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

/* site contacts */
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts .item + .item {
  margin-left: 30px;
}
.envelope-item {
  display: flex;
  align-items: center;
}
.envelope-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.envelope-item:hover .envelope-icon {
  fill: var(--accent-text-color);
}

.smartphone-item {
  display: inline-flex;
  align-items: center;
}
.smartphone-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.smartphone-item:hover .smartphone-icon {
  fill: var(--accent-text-color);
}

.site-contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-contacts .link:hover,
.site-contacts.link:focus {
  color: var(--accent-text-color);
}

/* main */
.hero {
  background-color: var(--bgc-hero-footer);
  text-align: center;

  margin-top: 0;
  margin-bottom: 94px;
}
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon-copy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding-bottom: 200px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* features */
.advantages {
  margin-left: 30px;
}
.advantages:first-child {
  margin-left: 0;
}
.advantages::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.icon-antenna::before {
  background-image: url(../images/antenna.png);
}
.icon-clock::before {
  background-image: url(../images/clock.png);
}
.icon-diagram::before {
  background-image: url(../images/diagram.png);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.png);
}
.features {
  display: flex;
}
.features {
  margin-top: 0;
  margin-bottom: 94px;
}
.features .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Examples */
.examples {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
  margin-bottom: 94px;
}
.example-photo {
  margin-left: 30px;
}
.example-photo:first-child {
  margin-left: 0;
}
/* Our team */
.team {
  background-color: var(--bgc-team);
}
.personal-name {
  display: flex;
  justify-content: space-around;
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.personal-name .title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.personal-name .text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.personal-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.personal-card {
  margin-left: 30px;
}
.personal-card:first-child {
  margin-left: 0;
}
.content {
  padding-top: 0;
  padding-right: 57px;
  padding-left: 59px;
  background-color: var(--primary-white-color);
  text-align: center;
}
/* Our team icons */
.icon-list {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--primary-white-color);
}

.icon-list {
  padding-bottom: 30px;
}
.icon-list-item {
  margin-right: 10px;
  border-radius: 50%;
}

.icon-list-item:first-child {
  margin-left: 32px;
}
.icon-list-item:last-child {
  margin-right: 32px;
}
.icon-link {
  fill: var(--primary-white-color);
}

.icon-list-item:hover .icon-link,
.icon-list-item:focus .icon-link {
  fill: var(--accent-text-color);
}

/* Кнопка на index.html */
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
  font-family: inherit;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-block;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
}
/* Футер */
.footer {
  background-color: var(--bgc-hero-footer);
}
/* Footer address */
.address {
  padding-bottom: 9px;

  color: var(--primary-white-color);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mail {
  padding-bottom: 9px;
}
.phone-number {
  padding-bottom: 60px;
}

/* Страница portfolio.html */

/* Кноки фильтров */
.button-secondary {
  color: var(--title-text-color);
  background-color: var(--bgc-button-secondary);

  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.icon {
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: 8px;
}
.icon:first-child {
  margin-left: 0;
}
.filter {
  display: flex;
  justify-content: center;
}

/* Примеры работ */
.work-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.work-examples .link {
  text-decoration: none;
}

.work-examples :nth-child(3n + 1) {
  margin-left: 0;
}
.work-examples :nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-info {
  border: 1px solid #eeeeee;
  max-width: 370px;
}
.card-info {
  margin-bottom: 30px;
  margin-left: 30px;
}
.card-info .title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 24px 4px;
}
.info .text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 24px 20px;
}
.work-examples .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples .text {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
